<div class="help-page">
	<header>
		<h1 class="title">
			Поддержка
		</h1>
	</header>

	<div class="support-container">
		<div class="support-section">
			<h2>Часто задаваемые вопросы</h2>
			<div class="faq-item">
				<h3>Как создать новую задачу?</h3>
				<p>Чтобы создать новую задачу, перейдите на страницу "Задачи" и нажмите кнопку "Создать задачу". Заполните
					необходимые поля и нажмите "Сохранить".</p>
			</div>
			<div class="faq-item">
				<h3>Как отследить поставки?</h3>
				<p>Для отслеживания поставок перейдите на страницу "Заявки в снабжение".
				</p>
			</div>
			<div class="faq-item">
				<h3>Как изменить настройки учетной записи?</h3>
				<p>Для изменения настроек перейдите на страницу "Настройки". Там вы можете обновить личную информацию и
					параметры
					уведомлений.</p>
			</div>
		</div>

		<div class="support-section">
			<h2>Контактная информация</h2>
			<p>Если у вас возникли вопросы или проблемы при использовании системы, пожалуйста, свяжитесь с нами:</p>
			<ul class="contact-info">
				<li><strong>Электронная почта:</strong> support&#64;supply-flow.com</li>
				<li><strong>Телефон:</strong> +7 (999) 999-99-99</li>
				<li><strong>Время работы:</strong> Пн-Пт, с 9:00 до 18:00 МСК</li>
			</ul>
		</div>
	</div>
</div>